{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Сделка</h3>
        <hr>
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type = "submit" class = "btn btn-danger">Сохранить</button>

        </form>
    </div>
  </div>


<table class="table table-striped" style="margin-top: 50px;">

    <tr><th>Дата</th><th>Клиент</th><th>Продукт</th><th>Цена продажи</th><th>Профит</th></tr>

{% for person in deal %}
    <tr> <td>{{ person.deal_date }}</td>
            <td>{{ person.customer }}</td>
            <td>{{ person.product }}</td>
            <td>{{ person.deal_price }}</td>
            <td>{{ person.profit }}</td>
        </tr>
{% endfor %}

</table>

<div class="pagination">
    <span class="step-links">
        {% if deal.has_previous %}
            <a href="?page={{ deal.previous_page_number }}"> << Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ deal.number }} из {{ deal.paginator.num_pages }}
        </span>

        {% if deal.has_next %}
            <a href="?page={{ deal.next_page_number }}">Следующая >></a>
        {% endif %}
    </span>
</div>

{% endblock body %}
