{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Сделка</h3>
        <hr>
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type = "submit" class = "btn btn-danger">Сохранить</button>

        </form>
    </div>
  </div>

{% if deal.count > 0 %}
    <table class="table table-striped" style="margin-top: 50px;">

        <tr><th>Дата</th><th>Клиент</th><th>Продукт</th><th>Цена продажи</th><th>Профит</th></tr>

            {% for person in deal %}
        <tr> <td>{{ person.deal_date }}</td>
            <td>{{ person.customer }}</td>
            <td>{{ person.product }}</td>
            <td>{{ person.deal_price }}</td>
            <td>{{ person.profit }}</td>
        </tr>

        {% endfor %}
    </table>
    {% endif %}
{% endblock body %}
